.addstudent{
    flex:8;
    height: 100vh;
    margin: 20px;
}

label{
    margin: 10px;
    font-weight: 700;
  }
  .inputval{
      width: 400px;
      height: 28px;
      padding-left: 15px;
      margin: 10px ;
      font-size: 15px;
      font-weight: 600;
      background-color: rgb(205, 203, 203);
      border: none;
      border-radius: 10px;
  }
  .submit-btn{
      margin: 10px;
      padding: 8px 12px;
      font-weight: 600;
      border: none;
      border-radius: 12px;
      background-color: rgb(101, 248, 170);
      cursor: pointer;
  }